<window title="Search" width="600px" border="normal" apply="com.dcristoph.controller.SearchController">
    <hbox align="center">
        Keyword:
        <textbox id="keywordBox"/>
        <button id="searchButton" label="Search"/>
    </hbox>
    <listbox id="customerListbox" height="160px" emptyMessage="No Customer found">
        <listhead>
            <listheader label="Name"/>
            <listheader label="Last name"/>
        </listhead>
        <template name="model">
            <listitem>
                <listcell label="${each.name}"/>
                <listcell label="${each.lastname}"/>
            </listitem>
        </template>
    </listbox>
    <hbox style="margin-top: 20px">
        <vbox>
            <label id="nameLabel"/>
            <label id="lastnameLabel"/>
            <label id="addressLabel"/>
            <label id="descriptionLabel"/>
        </vbox>
    </hbox>
</window>