<window title="Search" border="normal" width="600px"
        viewModel="@id('vm') @init('com.dcristoph.viewModel.SearchViewModel')">
    <hbox align="center">
        Keyword:
        <textbox value="@save(vm.keyword)"/>
        <button  label="Search" onClick="@command('search')"/>
    </hbox>
    <listbox height="160px" model="@load(vm.customerList)" emptyMessage="No Customer found" selectedItem="@save(vm.selectedCustomer)">
        <listhead>
            <listheader label="Name"/>
            <listheader label="Last name"/>
        </listhead>
        <template name="model">
        <listitem>
            <listcell label="@init(each.name)"/>
            <listcell label="@init(each.lastname)"/>
        </listitem>
        </template>
    </listbox>
    <hbox style="margin-top: 20px">
        <vbox>
            <label value="@load(vm.selectedCustomer.name)"/>
            <label value="@load(vm.selectedCustomer.lastname)"/>
            <label value="@load(vm.selectedCustomer.address)"/>
            <label value="@load(vm.selectedCustomer.description)"/>
        </vbox>
    </hbox>
</window>